<?xml version="1.0"?>

<robot name="colon">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://prostbot_gazebo/meshes/colon.stl"/>
      </geometry>
      <material name="green">
        <color rgba="0 0.5 0 1"/>
      </material>
    </visual>
  </link>
</robot>
