<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="green_tea" default="$(find prostbot_gazebo)/urdf/green_tea.urdf" />
  <arg name="colon" default="$(find prostbot_gazebo)/urdf/colon.urdf" />
  <arg name="potato_chips" default="$(find prostbot_gazebo)/urdf/potato_chips.urdf" />
	<arg name="rvizconfig" default="$(find prostbot_gazebo)/rviz/competition2019.rviz" />
  <param name="green_tea" textfile="$(arg green_tea)" />
  <param name="colon" textfile="$(arg colon)" />
  <param name="potato_chips" textfile="$(arg potato_chips)" />

  <include file="$(find prostbot_gazebo)/launch/fall_2019.launch">
    <arg name="world_name" default="$(find prostbot_gazebo)/worlds/fall_2019.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>




  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
</launch>
